<%#= render 'shared/menu/time_and_expenses', :active => :expense %>

<form id="form1" name="form1" method="post" action="">
  
  <table class="tcontent" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="16%" align="left" valign="top">Time Keeper </td>
        <td width="20%" align="left" valign="top"><input type="text" name="textfield" id="textfield" /></td>
        <td width="9%" align="right" valign="top">DATE</td>
        <td width="40%" align="left" valign="top"><input class="clsFloatLeft" style="width:115px; margin-right:4px;" type="text" name="textfield4" id="textfield4" />
      <img class="clsFloatLeft" src="images/calendar.jpg" width="19" height="20" /></td>
        <td width="15%" align="left" valign="top"><input class="viewcodes" type="submit" name="button" id="button" value="viewcodes" /></td>
      </tr>
      <tr>
        <td align="left" valign="top">Client Matter</td>
        <td align="left" valign="top"><input type="text" name="textfield2" id="textfield2" /></td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><input class="spellcheck" type="submit" name="button" id="button" value="spellcheck" /></td>
      </tr>
      <tr>
        <td colspan="4" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
            <td align="center" valign="top">Price </td>
            <td align="center" valign="top">Quantity </td>
            <td align="center" valign="top">Markup </td>
            <td align="center" valign="top"> Fixed Amount</td>
          </tr>
          <tr>
            <td align="left" valign="top">Expense</td>
            <td align="center" valign="top"><input class="wid" type="text" name="textfield3" id="textfield3" /></td>
            <td align="center" valign="top"><input class="wid" type="text" name="textfield5" id="textfield5" /></td>
            <td align="center" valign="top"><input class="wid" type="text" name="textfield6" id="textfield6" /></td>
            <td align="center" valign="top"><input class="wid" type="text" name="textfield8" id="textfield8" /></td>
            <td align="center" valign="top"><input class="wid" type="text" name="textfield7" id="textfield7" /></td>
          </tr>
        </table></td>
        <td align="left" valign="top"><input class="applycodes" type="submit" name="button" id="button" value="applycodes" /></td>
      </tr>
      <tr>
        <td colspan="4" rowspan="2" align="left" valign="top"><textarea name="textarea" id="textarea" cols="95" rows="5">NOTES</textarea></td>
        <td align="left" valign="top"><input class="save1" type="submit" name="button" id="button" value="Save" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><input class="cancel" type="submit" name="button" id="button" value="Cancel" /></td>
      </tr>
      </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><div ><img src="images/shade.jpg" width="934" height="15" /></div></td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="8">
        <tr>
          <td width="8%" align="left" valign="top">View</td>
          <td width="22%" align="left" valign="top"><input type="text" name="textfield9" id="textfield9" /></td>
          <td width="12%" align="left" valign="top">&nbsp;</td>
          <td width="17%" align="left" valign="top">&nbsp;</td>
          <td width="18%" align="left" valign="top">&nbsp;</td>
          <td width="23%" align="left" valign="top">&nbsp;</td>
          </tr>
        <tr>
          <td colspan="6" align="left" valign="top"><table width="300" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top"><input type="radio" name="radio" id="radio" value="radio" />
                Billed </td>
              <td align="left" valign="top"><input type="radio" name="radio" id="radio" value="radio" /> Unbilled </td>
              <td align="left" valign="top"><input type="radio" name="radio" id="radio" value="radio" /> All</td>
            </tr>
          </table></td>
          </tr>
        <tr>
          <td align="left" valign="top">Range </td>
          <td align="left" valign="top"><input class="clsFloatLeft" style="margin-right:4px;" type="text" name="textfield4" id="textfield4" />
      <%= image_tag('calendar.jpg',width: "19",height: "20")%>			
			</td>
          <td align="right" valign="top">THROUGH </td>
          <td align="left" valign="top"><input type="text" name="textfield10" id="textfield10" /></td>
          <td align="right" valign="top"> CLIENT MATTER</td>
          <td align="left" valign="top"><input type="text" name="textfield11" id="textfield11" /></td>
          </tr>
        <tr>
          <td height="8" align="left" valign="top"></td>
          <td height="8" align="left" valign="top"></td>
          <td height="8" align="left" valign="top"></td>
          <td height="8" align="left" valign="top"></td>
          <td height="8" align="left" valign="top"></td>
          <td height="8" align="left" valign="top"></td>
        </tr>
        <tr>
          <td colspan="6" align="left" valign="top"><table id="zebra" width="100%" cellspacing="0" cellpadding="8">
            <tr>
              <td class="rtbdr">&nbsp;</td>
              <td height="45" class="topbdr">Date </td>
              <td height="45" class="topbdr"> Professional </td>
              <td height="45" class="topbdr">Client Matter</td>
              <td height="45" class="topbdr"> Expense </td>
              <td height="45" class="topbdr"> Price </td>
              <td height="45" class="topbdr">Quantity</td>
              <td height="45" class="topbdr">Markup</td>
              <td height="45" class="topbdr rtbdr">Invoice</td>
              </tr>
							<% i = 1%>
							<% @expense_entries.each do |expense_entry| %>
            <tr>
						<td class="rtbdr">
					 <table id="zebrano" width="100%" border="0" cellspacing="0" cellpadding="0">
					 <tr><td align="left" valign="top"><%= link_to image_tag('edit.png',width: "16",height: "15"), edit_firm_expense_entry_path(current_firm, expense_entry) %></td></tr>
					 <tr><td align="left" valign="top"><%= image_tag('minus.png',width: "13",height: "13") %></td></tr>
					 </table>
					 </td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.tdate.strftime("%m/%d/%Y") %> </td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"> <%= expense_entry.user.full_name %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.matter.name %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.expense.name %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.price %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.qty %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>"><%= expense_entry.markup_perc %></td>
              <td height="45" bgcolor="<%= i%2 == 0 ? ' ' : '#d0d0d0' %>" class="rtbdr"><%= link_to expense_entry.invoice_id, firm_invoice_path(current_firm, expense_entry.invoice_id) unless expense_entry.invoice_id.nil? %></td>
              </tr>
							<%i = i+1%>
<% end %>      

</table>
            </td>
        </tr>
        </table></td>
  </tr>
</table>

</form>
   

 




<div class="form_style_compact entry_form">
<%= semantic_form_for [current_firm, @expense_entry] do |form| %>
<table>
  <tr>
    <td>



      <%= form.input :user, :member_value => :id, :member_name => :full_name, :label => 'Professional' %>
    </td>
    <td>
      <%= form.input :matter, :member_value => :id, :member_name => :full_name, :collection => current_firm.all_client_matters, :label => 'Client & Matter' %>
      <table>
        <tr>
          <td>
            <%= form.input :expense, :member_value => :id, :member_name => :name, :collection => current_firm.expenses %>
          </td>
          <td>
            <%= form.input :price, :input_html => { :maxlength => 9, :size => 5 }, :required => false %>
          </td>
          <td>
            <%= form.input :qty, :input_html => { :maxlength => 5, :size => 3 }, :required => false, :label => 'Quantity' %>
          </td>
          <td>
            <%= form.input :markup_perc, :input_html => { :maxlength => 5, :size => 3 }, :required => false, :label => 'Mark Up %' %>
          </td>
          <td>
            <%= form.input :fixed_amount, :input_html => { :maxlength => 9, :size => 5 }, :required => false %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <%= form.input :tdate, :as => :date %>
    </td>
    <td>
      <table>
        <tr>
          <td>
            <%= form.input :notes, :as => :text, :input_html => { :rows => 3 }, :required => false %>
          </td>
          <td>
            <%= form.actions %>
            <br/>
            <%= link_to 'Cancel', firm_expense_entries_path(current_firm) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>
</div>

<hr noshade size="1">

<table>
  <tr>
    <td>
      View
      <select>
        <option>Today Only</option>
      </select>
      Unbilled
      Billed
      All
      All Professionals
    </td>
    <td>
      <div>
        Entries for <input type="text"> Through <input type="text"> <button>Show</button>
        <a href="">Weekly View</a>
        <a href="">Monthly View</a>
        <a href="">View Report</a>
      </div>
      <div>
        Client-Matter <select><option>all Client-Matter</option></select>
      </div>

      <table>
        <tr>
          <th>Date</th>
          <th>Professional</th>
          <th>Client-Matter</th>
          <th>Expense</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Markup Total:</th>
          <th>Total</th>
          <th>Invoice</th>
          <th></th>
        </tr>

      <% @expense_entries.each do |expense_entry| %>
        <tr>
          <td><%= expense_entry.tdate %></td>
          <td><%= expense_entry.user.full_name %></td>
          <td><%= expense_entry.matter.name %></td>
          <td><%= expense_entry.expense.name %></td>
          <td><%= expense_entry.price %></td>
          <td><%= expense_entry.qty %></td>
          <td>??? <%= expense_entry.markup_perc %></td>
          <td>???</td>
          <td><%= link_to expense_entry.invoice_id, firm_invoice_path(current_firm, expense_entry.invoice_id) unless expense_entry.invoice_id.nil? %></td>
          <td><%= link_to 'Edit', edit_firm_expense_entry_path(current_firm, expense_entry) %></td>
        </tr>
      <% end %>
      </table>
    </td>
  </tr>
</table>
