

<div class="brdrBox1Content">
<div class="aerobuttonmenu">

<%= link_to "<span>Time</span>".html_safe, firm_time_entries_path(current_firm),:class=>"aero" %>
			<%= link_to "<span>Expenses</span>".html_safe, firm_time_entries_path(current_firm),:class=>"aero" %>
			<% if params[:controller] == "clients" && params[:action] == "index"%>
			<%= link_to "<span>Client</span>".html_safe, firm_clients_path(current_firm),:class=>"aeroactive" %>
			<%else %>
			<%= link_to "<span>Client</span>".html_safe, firm_clients_path(current_firm),:class=>"aero" %>
			<% end %>
			<%= link_to "<span>Matter</span>".html_safe, firm_clients_path(current_firm),:class=>"aero" %>
			<%= link_to "<span>Invoice</span>".html_safe,  firm_invoices_path(current_firm),:class=>"aero" %>
			<a class="aero" href="#"><span>Trust </span></a>
			<%= link_to "<span>Payment</span>".html_safe,  firm_invoices_path(current_firm),:class=>"aero" %>
			<a class="aero" href="#"><span>Report </span></a>
    
    
</div>

<div class="clear"></div>
<div class="mar10"><%= image_tag('shade.jpg',width: "934",height: "15")%></div>

 <div class="clear"></div>

   
